body {
    margin: 0%;
}
/* a {
    text-decoration: none;
} */
.nav-links {
    list-style: none;
}

.logo {
    float: left;
    /* height:300px; */
    width: 30%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
   }

.menu {
    float: right;
    
}