<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>Pythonic Expense Tracker</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}">
        </div>
        <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/">Merchants</a></li>
                <li><a href="/">Dashboard</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>