<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <title>Pythonic Expense Tracker</title>
</head>
<body>
    <a class="skip-to-content-link" href="#main">
        Skip to main content
    </a>
    <a class="skip-to-content-link" href="#nav-list">
        Skip to menu
    </a>
    <header class="header-container">
        <div>
            <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
        </div>

        <nav>
            <ul class="nav-links" id="nav-list">
                    <li class="link"><a href="/">Home</a></li>
                    <li class="link"><a href="/categories">Categories</a></li>
                    <li class="link"><a href="/merchants">Merchants</a></li>
                    <li class="link"><a href="/dashboard">Expenses Dashboard</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer-container">
        <div class="right-footer">
            Customer Care
            <ul class="nav-links dark-font-color">
                <li>Contact Us</li>
                <li>FAQs</li>
                <li>Terms of Service</li>
                <li>Privacy Policy</li>
                <li>Data Retention Policy</li>
            </ul>
        </div>
        <div class="middle-footer">
            <img class="social" src="{{ url_for('static', filename='fb_icon.png') }}">
            <img class="social" src="{{ url_for('static', filename='yt-icon.png') }}">
            <img class="social" src="{{ url_for('static', filename='twitter-icon.png') }}">
            © 2022 Expense Tracker CodeClan E57
        </div>
        <div class="right-footer">
            <p>BE IN THE KNOW - sign up and be one of the first to know of our updates.</p>
            <hr>
            <input type="text" placeholder="your-email@email.com">
            <button class="btn">Subscribe</button>
        </div>

    </footer>
</body>
</html>