{% extends "base.html" %}
{% block content %}

<h2>Expenses Dashboard</h2>

<h3>Filter by Merchant</h3>
<form action="/filter_merchant" method="POST">
    <select name="merchant_id">
        {% for merchant in merchants %}
        <option value ="{{ merchant.get_merchant_id() }}">{{ merchant.get_merchant_name() }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>
<p>Expenses filtered by Merchant: {{subtotal_expenses_merchant}}</p>

<h3>Filter by Category</h3>
<form action="/filter_category" method="POST">
    <select name="category_id">
        {% for category in categories %}
        <option value ="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>
<p>Expenses filtered by Category: {{subtotal_expenses_category}}</p>

<p><a href="/">Register a new Expense</a></p>
<h3>Detailed Expenses</h3>

<table class="table">

    <tr class="table-headings">
        <th class="table-cell">Date</th>
        <th class="table-cell">Description</th>
        <th class="table-cell">Merchant</th>
        <th class="table-cell">Expense Category</th>
        <th class="table-cell">Amount</th>
    </tr>
{% for expense in expenses %}
    <tr class="table-row">
        <td class="table-cell">{{ expense.get_expense_date() }}</td>
        <td>{{ expense.get_expense_description() }}</td>
        <td>{{ expense.merchant.get_merchant_name() }}</td>
        <td>{{ expense.category.get_category_name() }}</td>
        <td>{{ expense.get_expense_amount() }}</td>
        <td>
            <a href="/{{ expense.id }}/edit">Edit</a>
        </td>
        <td>
            <form action="/{{ expense.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
{% endfor %}
<tr class="table-headings">
    <td>Total Expenses</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ total_expenses }}</td>
</tr>
</table>


{% endblock %}