{% extends "base.html" %}
{% block content %}

<h2>Expenses Dashboard</h2>

<h3>Total Expenses (PENDING)</h3>
{% for expense in expenses %}
    {{ expense.get_expense_amount() }}

{% endfor %}

<h3>Detailed Expenses</h3>
{% for expense in expenses %}

<section>
    <p>Transaction date: {{ expense.get_expense_date() }}</p>
    <p>{{ expense.get_expense_description() }}</p>
    <p>Merchant: {{ expense.merchant.get_merchant_name() }}</p>
    <p>Category: {{ expense.category.get_category_name() }}</p>
    <p>Amount: {{ expense.get_expense_amount() }}</p>
    <a href="/{{ expense.id }}/edit">Edit</a>
    <form action="/{{ expense.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
<hr>

{% endfor %}
<p><a href="/">Register a new Expense</a></p>
{% endblock %}