{% extends "base.html" %}
{% block content %}

<div class="card dashboard-card" id="main">

    <h2>Expenses Dashboard</h2>
    <form action="/">
        <input type="submit" value="Register a new Expense" class="btn"/>
    </form>
    <div class="dashboard-filter">
        <div class="filter">
        <h3>Filter by Merchant</h3>
        <form action="/filter_merchant" method="POST" class="filter-form">
            <select name="merchant_id">
                <option value="select-all">--All Merchants--</option>
                {% for merchant in merchants %}
                    <option value="{{ merchant.get_merchant_id() }}" 
                    {% if selected_id == merchant.get_merchant_id() %} 
                        selected 
                    {% endif %}>
                        {{ merchant.get_merchant_name() }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Filter" class="filter-btn">
        </form>
        </div>
        <div class="filter">
            <h3>Filter by Category</h3>
            <form action="/filter_category" method="POST">
                <select name="category_id">
                    <option value="select-all">--All Categories--</option>
                    {% for category in categories %}
                    <option value ="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filter" class="filter-btn">
            </form>
            <p>Expenses filtered by Category: £{{subtotal_expenses_category}}</p>
        </div>
    </div>
</div>

<h3 class="center-in-page">Detailed Expenses</h3>
<div class="table-container">

    <table class="table">

        <tr class="table-headings">
            <th class="table-cell">Date</th>
            <th class="table-cell">Description</th>
            <th class="table-cell">Merchant</th>
            <th class="table-cell">Expense Category</th>
            <th class="table-cell">Amount</th>
        </tr>
    {% for expense in expenses %}
        <tr class="table-row">
            <td class="table-cell">{{ expense.get_expense_date() }}</td>
            <td>{{ expense.get_expense_description() }}</td>
            <td>{{ expense.merchant.get_merchant_name() }}</td>
            <td>{{ expense.category.get_category_name() }}</td>
            <td>£{{ expense.get_expense_amount() }}</td>
            <td>
                <a href="/{{ expense.id }}/edit" class="edit-delete-table1">Edit</a>
            </td>
            <td>
                <form action="/{{ expense.id }}/delete" method="POST">
                    <input type="submit" value="Delete" class="edit-delete-table1">
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr class="table-headings">
        <td>Total Expenses</td>
        <td></td>
        <td></td>
        <td></td>
        <td>£{{ total_expenses }}</td>
    </tr>
    </table>

</div>
{% endblock %}