{% extends "base.html" %}
{% block content %}

<h2 class="title mleft" id="main">Merchants</h2>
<form action="merchants/new">
    <input type="submit" value="Add new merchant" class="btn mleft"/>
</form>

<div class="table-container">
    <table class="table table-smaller">
        <tr class="table-headings">
            <th class="table-cell">Merchants</th>
        </tr>
        {% for merchant in merchants %}
        <tr class="table-row">
            <td class="table-cell">{{ merchant.name }}</td>
            <td class="table-cell"><a href="/merchants/{{ merchant.id }}/edit" class="edit-delete-table1">Edit</a></td>
            <td class="table-cell">
                <form action="/merchants/{{ merchant.id }}/delete" method="POST">
                    <input type="submit" value="Delete" class="edit-delete-table1">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}